.loader {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 300;
}

.detail {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.detail__backgroundImg {
  opacity: 0.6;
  top: 50px;
  position: absolute;
  width: 80%;
  height: 55vh;
}

.detail__components {
  /* background-color: aqua; */
  width: 70%;

  position: absolute;
  top: 30vh;
  left: 100px;
}

.detail__poster {
  width: 150px;
}

.detail__rating,
.detail__time {
  margin-right: 10px;
}

.detail__genres {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  margin: 5px 0px;
}

.detail__genres li {
  margin-right: 10px;
}
